<style>
  :host{
  /*Project Colors, Gradients and Font */
  --asphalt: oklch(15.77% 0.02 45.56);
    --coffee-bean: oklch(21.76% 0.036 39.98);
    --cedar: oklch(27.75% 0.051 40.68);
    --brown-derby: oklch(33.07% 0.065 40.96);
    --mule-fawn: oklch(48.01% 0.102 40.01);
    --medium-carmine: oklch(53.03% 0.115 40.74);
    --brown-rust: oklch(57.64% 0.126 40.36);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --asphalt-to-coffee-bean-to-cedar-vertical-gradient: linear-gradient(
      180deg,
      var(--asphalt) 0%,
      var(--coffee-bean) 50%,
      var(--cedar) 100%
    );

    --asphalt-to-coffee-bean-to-cedar-horizontal-gradient: linear-gradient(
      90deg,
      var(--asphalt) 0%,
      var(--coffee-bean) 50%,
      var(--cedar) 100%
    );

    --pill-accent: var(--brown-rust);
    
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }
</style>

<main class="main">
  <div class="Mainbody">
    <div class="content">
      <h1>{{ title }}/h1> 
		<app-heroes></app-heroes>
     <!--input type="button" name="Dashboard" id="Dashboard">
     <input type="button" name="heroesbutton" id="heroesbutton"> -->


<router-outlet />
